*{
    box-sizing: border-box;
}

@font-face{
    font-family: boo;
    src: url(/source/fonts/Creepster-Regular.ttf);
}

html{
    min-height: 100vh;
}

body{
    margin: 0;
    background: radial-gradient(#9D5900,#3d2200);
}

.game-title{
    color: #ff6d00;
    font-size: 5em;
    text-align: center;
    font-family: boo,serif;
}

.game-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,auto);
    grid-gap: 20px;
    margin: 50px;
}

.game-info-container{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
}

.game-info{
    font-family: cursive;
    font-size: 3em;
    color: #ffbb89;
}


.card{
    width: 100px;
    height: 150px;
    background-color: black;
}